.slider {
    min-width: 0;
    position: relative;
    height: 203px;
    transform: skewY(7.5deg);


    &__wrapper {
        background-color: rgba(#005091, 0.9);
        padding: 18px 0;
        
    }

    &__opacity {
        
    }

    &__item {
        display: block;
        text-align: center;
        vertical-align: middle;
        padding: 0 5px;
        padding-top: 41px;
        width: 572px;
        position: relative;
        transition: 2s padding;
        
    }   


    &__title {
        display: block;
        text-align: center;
        margin-bottom: 15px;
        color: #FFAE00;
    }

    &__text-box {
        max-width: 700px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 70px;
        padding: 0 67px;
        color: white;
    }

    .slick-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-100%);
        width: 15px;
        height: 23px;
        z-index: 10;
        border: none;
        cursor: pointer;
    }

    .slick-prev {
        background: url('../images/icons/left.svg') 0 0 / 100% no-repeat;
        margin-left: 17px;
        left: 5%;
    }

    .slick-next {
        background: url('../images/icons/right.svg') 0 0 / 100% no-repeat;
        margin-right: 17px;
        right: 5%;
    }
}

.slider--form {

    .slider__content-block {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 100%;
        
        .slider__text-box {
            width: 700px;
            text-align: center;

            p {
                font-size: 30px;
            }
            
        }

        
    }

    
}


@media (min-width: 1270px) {
    .slider {
        .slider__item {
            padding-top: 10px;
        }

        .slick-prev {
            left: -80px;
            top: 72%;
        }

        .slick-next {
            right: -65px;
            top: 35%;
        }
    }
}