mixin advantages()
    +b.advantages
        +e.item
            +e.indicator 
                span 10
            +e.text 
                span врачей
        +e.item
            +e.indicator 
                span +400
            +e.text 
                span пациентов
        +e.item
            +e.indicator 
                span 25
            +e.text 
                span кабинетов
        +e.item
            +e.indicator 
                span 10
            +e.text 
                span лет на рынке