mixin navbar()
    include buttons.pug
    +b.navbar
        .container
            +e('nav').wrapper
                +e.item
                    +link('О компании', true).navbar__link
                    +e.dropdawn.navbar__dropdawn--company
                        +link('Main', true)
                        +link('Main', true)
                        +link('Main', true)
                        +link('Main', true)
                +e.item
                    +link('Услуги и цены', true).navbar__link
                    +e.dropdawn.navbar__dropdawn--prices
                        .columns
                            +link('Main', true)
                            +link('Main', true)
                            +link('Main', true)
                            +link('Main', true)
                        .columns
                            +link('Main', true)
                            +link('Main', true)
                            +link('Main', true)
                            +link('Main', true)
                        .columns
                            +link('Main', true)
                            +link('Main', true)
                            +link('Main', true)
                            +link('Main', true)
                +e.item
                    +link('Отзывы', true).navbar__link
                +e.item
                    +link('Акции', true).navbar__link
                +e.item
                    +link('Контакты', true).navbar__link
                +e.item
                    +link('Акции', true).navbar__link