mixin offer()
    include icon.pug

    +b.offer
        +e.wrapper
            +e.info
                +e('h2').info--title МЫ ПРЕДЛАГАЕМ
                +e.info--text 
                    p Работу в крупной международной компании с высоким уровнем качества и надежности, дружественную атмосферу, амбициозные задачи, профессиональный рост, широкие возможности для успешной карьеры.
            +e.item
                +e.item--block
                    +e.icon
                        +e.icon--image
                            +icon('pay')
                        +e('h3').icon--title ДОСТОЙНЫЕ УСЛОВИЯ ТРУДА И ОПЛАТЫ
                    +e.item--text
                        p   Главным стратегическим активом компании мы считаем  работающих в ней специалистов – настоящих профессионалов, людей увлеченных своим делом. Именно поэтому мы заботимся о том, чтобы для сотрудников  были созданы лучшие условия труда, конкурентоспособная заработная плата и бонусная система, весомый соцпакет, который предусматривает  медицинское страхование и страхование жизни, доплату по больничным листам сверх предусмотренных государством выплат. Мы также предоставляем современные средства связи с возмещением расходов на телефонию и Интернет.
                +e.item--block
                    +e.icon
                        +e.icon--image
                            +icon('wrong')
                        +e('h3').icon--title ПРОФЕССИОНАЛЬНЫЙ  И КАРЬЕРНЫЙ РОСТ
                    +e.item--text
                        p   Для сотрудников «ЭГИС» в работе важны перспектива, разнообразие и возможности. Чтобы достичь этого, мы используем эффективную систему обучения для того,  чтобы каждый имел возможность для непрерывного развития и получения новых знаний. Мы предоставляем возможности не только для классического карьерного роста, но  также и для горизонтального профессионального развития.
                +e.item--block
                    +e.icon
                        +e.icon--image
                            +icon('friend')
                        +e('h3').icon--title ДРУЖЕСТВЕННАЯ  АТМОСФЕРА
                    +e.item--text
                        p   Главная ценность нашей компании – это человеческие отношения, основанные на доверии, уважении и взаимопомощи. Мы проводим значительную часть нашей жизни на работе. Мы – компания, для которой важно, чтобы атмосфера, в которой трудятся сотрудники, была приятной и вдохновляющей.
                +e.item--block
                    +e.icon
                        +e.icon--image
                            +icon('tasks')
                        +e('h3').icon--title АМБИЦИОЗНЫЕ  ЗАДАЧИ
                    +e.item--text
                        p   В компании «ЭГИС» очень любят амбициозные задачи. И для этого нам необходимы амбициозные люди - профессионалы, готовые вместе с нами к достижению все новых и новых высот.
