mixin policy

    +b.policy
        +e.wrapper
            +e('h2').title О КАДРОВОЙ ПОЛИТИКЕ
            +e.task
                +e.task--block
                    +e('h3').task--title Главная цель кадровой  политики «ЭГИС»:
                    +e.task--text
                        p Создать такую атмосферу в компании, чтобы каждый, без исключения сотрудник получал удовлетворение от работы, чувствовал себя частью единой команды и общего результата. Особенно важно, чтобы новые сотрудники могли быстро и легко влиться в коллектив. Ведь в дальнейшем от командной работы специалистов различного профиля будут зависеть успехи компании.  Обучая персонал и обеспечивая его возможностями для реализации своего потенциала, мы получаем профессионалов высокого уровня, которые эффективно справляются с задачами и помогают нам удерживать ведущие позиции на региональном уровне.
                +e.task--block
                    +e('h3').task--title Основные задачи кадровой  политики:
                    +e.task--text
                        ul
                            li - Поиск и подбор персонала;
                            li - Оценка эффективности и результативности сотрудников;
                            li - Обучение и развитие сотрудников;
                            li - Обеспечение безопасности труда, охраны здоровья и окружающей среды.