mixin prices()
    .container
        +b.prices
            +e('h2').title Цены на услуги
            +e.wrapper
                +e.item.prices__alco
                    table
                        thead
                            tr
                                td(colspan="2") Вывод из запоя
                        tbody
                            tr
                                td День без водки
                                td 1000руб.
                            tr
                                td День без водки
                                td 1000руб.
                            tr
                                td День без водки
                                td 1000руб.
                            tr
                                td День без водки
                                td 1000руб.
                            tr
                                td
                                td
                            tr
                                td
                                td
                            tr
                                td
                                td
                +e.item.prices__drug
                    table
                        thead
                            tr
                                td(colspan="2") Вывод из запоя
                        tbody
                            tr
                                td День без наркотиков
                                td 1000руб.
                            tr
                                td День без наркотиков
                                td 1000руб.
                            tr
                                td День без наркотиков
                                td 1000руб.
                            tr
                                td День без наркотиков
                                td 1000руб.
                            tr
                                td
                                td
                            tr
                                td
                                td
                            tr
                                td
                                td
                +e.item.prices__reab
                    table
                        thead
                            tr
                                td(colspan="2") Вывод из запоя
                        tbody
                            tr
                                td День реабилитации
                                td 1000руб.
                            tr
                                td День реабилитации
                                td 1000руб.
                            tr
                                td День реабилитации
                                td 1000руб.
                            tr
                                td День реабилитации
                                td 1000руб.
                            tr
                                td
                                td
                            tr
                                td
                                td
                            tr
                                td
                                td