



mixin service()
    +b.service
        .container
            +e('h2').title процедуры
            +e.block
                +b('a').service__item
                    +e.item--front
                        +e.item--title Нарколог
                        +e.item--text Вызов на дом
                    +e.item--back
                        +e.item--title Нарколог
                        +e.item--text Вызов на дом
                +b('a').service__item
                    +e.item--front
                        +e.item--title Нарколог
                        +e.item--text Вызов на дом
                    +e.item--back
                        +e.item--title Нарколог
                        +e.item--text Вызов на дом
                +b('a').service__item
                    +e.item--front
                        +e.item--title Нарколог
                        +e.item--text Вызов на дом
                    +e.item--back
                        +e.item--title Нарколог
                        +e.item--text Вызов на дом
                +b('a').service__item
                    +e.item--front
                        +e.item--title Нарколог
                        +e.item--text Вызов на дом
                    +e.item--back
                        +e.item--title Нарколог
                        +e.item--text Вызов на дом
                +b('a').service__item
                    +e.item--front
                        +e.item--title Нарколог
                        +e.item--text Вызов на дом
                    +e.item--back
                        +e.item--title Нарколог
                        +e.item--text Вызов на дом
                +b('a').service__item
                    +e.item--front
                        +e.item--title Нарколог
                        +e.item--text Вызов на дом
                    +e.item--back
                        +e.item--title Нарколог
                        +e.item--text Вызов на дом