



mixin slider-info()

    include buttons.pug


    .slider__wrapper
        .slider__opacity
            +b.slider.slider--main
                +e.item
                    +e('h3').title ВЗАИМОДЕЙСТВИЕ
                    +e.text-box
                        p Благодаря нашей продукции мы облегчаем жизнь миллионам людей во всем мире. Для этого нужна безупречная работа в команде, где каждый сотрудник знает, какая у него роль в этом необыкновенном процессе. 

                +e.item
                    +e('h3').title ВЗАИМОДЕЙСТВИЕ
                    +e.text-box
                        p Благодаря нашей продукции мы облегчаем жизнь миллионам людей во всем мире. Для этого нужна безупречная работа в команде, где каждый сотрудник знает, какая у него роль в этом необыкновенном процессе. 
                +e.item
                    +e('h3').title ВЗАИМОДЕЙСТВИЕ
                    +e.text-box
                        p Благодаря нашей продукции мы облегчаем жизнь миллионам людей во всем мире. Для этого нужна безупречная работа в команде, где каждый сотрудник знает, какая у него роль в этом необыкновенном процессе. 
                    

