



mixin slider-info()

    include buttons.pug


    .slider__wrapper
        .slider__opacity
            .container
                +b.slider.slider--main
                    +e.item
                        +e('h1').title Наркологическая клиника
                        +e.text-box
                            p Услуги частной наркологии по минимальным рыночным ценам. Наша клиника не отправляет личные данные по запросу, обеспечивая полную конфиденциальность, безопасность вашего здоровья и вашего будущего.
                        +e.button-box
                            +link('Обратный звонок')
                            +link('Обратный звонок')
                    +e.item
                        +e('h1').title Наркологическая клиника
                        +e.text-box
                            p Услуги частной наркологии по минимальным рыночным ценам. Наша клиника не отправляет личные данные по запросу, обеспечивая полную конфиденциальность, безопасность вашего здоровья и вашего будущего.
                        +link('Обратный звонок')
                        +link('Обратный звонок')
                    +e.item
                        +e('h1').title Наркологическая клиника
                        +e.text-box 
                            p Услуги частной наркологии по минимальным рыночным ценам. Наша клиника не отправляет личные данные по запросу, обеспечивая полную конфиденциальность, безопасность вашего здоровья и вашего будущего.
                    +e.item
                        +e('h1').title Наркологическая клиника
                        +e.text-box
                            p Услуги частной наркологии по минимальным рыночным ценам. Наша клиника не отправляет личные данные по запросу, обеспечивая полную конфиденциальность, безопасность вашего здоровья и вашего будущего.

