mixin two_block ()


    +b.two_block
        +e.wrapper
            +e.text
                p ЗАО "Фармацевтический завод ЭГИС" (Венгрия) - это вертикально интегрированная компания,  ведущий региональный производитель высококачественых дженериков и продуктов с высокой добавочной стоимостью. Мы  - признанная на международном уровне компания, которая использует в своей работе передовые научно-исследовательские технологии и высоко инновационные подходы в области разработки лекарственных средств.