mixin values()
    include slider.pug
    +b.values
        +e.wrapper
            +e.info
                +e('h2').info--title НАШИ КОРПОРАТИВНЫЕ ЦЕННОСТИ:
                    
                +e.info--text
                    p Имея за плечами традиции, которым уже более 100 лет, компания «ЭГИС», из небольшого семейного бизнеса, превратилась в  крупную международную компанию, которая в последние 20 лет является важным и признанным членом группы «СЕРВЬЕ».  Нас многое объединяет: богатая история, уходящая корнями в семейный бизнес, и общие ценности. 
            +e.slider
                +slider-info()