


mixin work()
    include icon.pug

    +b.work
        +e.wrapper
            +e.info
                +e.info--title ОТ МОЛЕКУЛ ДО МИРОВОГО РЫНКА
                +e.info--text Деятельность компании охватывает все звенья производственно-сбытовой фармацевтической цепочки: от исследований и разработок, производства  активных фармацевтических ингредиентов и готовой продукции до продаж и маркетинга.  
            +e.item
                +e.item--block
                    +e.icon--wrapper 
                        +icon('dev')
                    +e.item--text-block
                        +e.item--title 
                            span Исследования и разработки
                        +e.item--text
                            p Успешность и эффективность новых препаратов очень важны для будущего компании "ЭГИС", поэтому одним из главных приоритетов деятельности компании является постоянная работа по их разработке. Главным образом, "ЭГИС" занимается разработкой  генерических лекарственных средств, но также ведёт исследовательскую работу, направленную на разработку новых оригинальных лекарственных препаратов.
                            |Ежегодно «ЭГИС» тратит на исследования и разработки существенную сумму – 10% от объема продаж – это около 43 миллионов евро.
                +e.item--block
                    +e.icon--wrapper
                        +icon('builds')
                    +e.item--text-block
                        +e.item--title 
                            span Производство
                        +e.item--text
                            p Успешность и эффективность новых препаратов очень важны для будущего компании "ЭГИС", поэтому одним из главных приоритетов деятельности компании является постоянная работа по их разработке. Главным образом, "ЭГИС" занимается разработкой  генерических лекарственных средств, но также ведёт исследовательскую работу, направленную на разработку новых оригинальных лекарственных препаратов.
                            |Ежегодно «ЭГИС» тратит на исследования и разработки существенную сумму – 10% от объема продаж – это около 43 миллионов евро.
                +e.item--block
                    +e.icon--wrapper
                        +icon('sales')
                    +e.item--text-block
                        +e.item--title 
                            span Продажи и маркетинг
                        +e.item--text
                            p Благодаря быстрому расширению международного рынка в последние десятилетия компания «ЭГИС» открыла  представительства в 18 странах, включая Россию. Продукция компании продается в 61 стране мира. Сегодня общий штат «ЭГИС», включая зарубежные представительства, составляет 4500 сотрудников.
