* {
    box-sizing: border-box;

}



.container {
    margin: 0 auto;
    min-width: 630px;
    max-width: 1270px;
    // padding: 0 30px;s
}

.normal__skew {
    // transform: skewY(5deg);
}


@import 'work/work.scss';
@import 'missions/missions.scss';
@import 'footer/footer.scss';
@import 'variables.scss';
@import 'slider/slider.scss';
@import 'logo/logo.scss';
@import 'header/header.scss';
@import 'buttons/buttons.scss';
@import 'libs.scss'