@font-face {
    font-family: 'Trebuchet MS Regular';
    src: url('./fonts/TrebuchetMS.eot');
    src:
        url('./fonts/TrebuchetMS.woff') format('woff'),
        url('./fonts/TrebuchetMS.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Trebuchet MS Bold';
    src: url('./fonts/TrebuchetMS-Bold.eot');
    src:
        url('./fonts/TrebuchetMS-Bold.woff') format('woff'),
        url('./fonts/TrebuchetMS-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }


* {
    font-family: 'Trebuchet MS Regular';
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

ul,li {
    list-style: none;
    padding: 0;
}

h2,h3{
    font-weight: 700;
}

.container {
    margin: 0 auto;
    min-width: 630px;
    max-width: 1270px;
    height: 100%;
    // padding: 0 30px;s
}

@media (max-width: 1270px) {
    h2 {
        font-size: 20px;
        margin: 0;
    }

    h3 {
        margin: 0;
        font-size: 16px;
    }

    p {
        font-size: 14px;
        margin: 0;
    }

    
}

.index__block {
    position: relative;
    z-index: 20;
    top: -100px;
}


@import 'two_block/two_block.scss';
@import 'work/work.scss';
@import 'values/values.scss';
@import 'policy/policy.scss';
@import 'missions/missions.scss';
@import 'offer/offer.scss';
@import 'footer/footer.scss';
@import 'variables.scss';
@import 'slider/slider.scss';
@import 'logo/logo.scss';
@import 'header/header.scss';
@import 'buttons/buttons.scss';
@import 'libs.scss'