* {
    box-sizing: border-box;

}

ul,li {
    list-style: none;
    padding: 0;
}

.container {
    margin: 0 auto;
    min-width: 630px;
    max-width: 1270px;
    // padding: 0 30px;s
}

@media (max-width: 1270px) {
    h2 {
        font-size: 20px;
        margin: 0;
    }

    h3 {
        font-size: 16px;
    }

    p {
        font-size: 14px;
        margin: 0;
    }

    
}

.normal__skew {
    // transform: skewY(5deg);
}



@import 'work/work.scss';
@import 'values/values.scss';
@import 'policy/policy.scss';
@import 'missions/missions.scss';
@import 'footer/footer.scss';
@import 'variables.scss';
@import 'slider/slider.scss';
@import 'logo/logo.scss';
@import 'header/header.scss';
@import 'buttons/buttons.scss';
@import 'libs.scss'