.form {

    &__wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        // justify-content: space-between;
        max-width: 350px;
        // margin-right: 100px;
        padding: 30px 10px;
        background-color: #07385d;
    }

    &__title {
        text-transform: uppercase;
        font-size: 30px;
        margin-bottom: 40px;
        color: white;
    }

    &__input{
        width: 100%;
        border: none;
        border-bottom: 1px solid black;
        padding: 10px;
    }

    &__input--name {
        margin-bottom: 10px;
    }

    &__input--phone {
        margin-bottom: 50px;
    }
}


