.footer {
    overflow: hidden;
    background: url('../images/footer.png') 0 0 / 100% no-repeat; 
    // transform: translateY(-100px);
    padding: 94px 0 0;
    &__wrapper {
        transform: skewY(-7.5deg);
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding-bottom: 38px;
    }

    &__title {
        transform: skewY(7.5deg);
        text-transform: uppercase;
        margin-bottom: 13px;
        color:  #FFAE00;
    }

    &__text {
        max-width: 524px;
        transform: skewY(7.5deg);
        text-align: left;
        color: white;
    }
}