.footer {
    overflow: hidden;
    background: url('../images/footer.png') 0 0 / 100% no-repeat; 
    // transform: translateY(-100px);
    padding: 94px 0 0;
    &__wrapper {
        transform: skewY(-7.5deg);
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding-bottom: 38px;
    }

    &__title {
        transform: skewY(7.5deg);
        text-transform: uppercase;
        margin-bottom: 13px;
        color:  #FFAE00;
    }

    &__text {
        max-width: 524px;
        transform: skewY(7.5deg);
        text-align: left;
        color: white;
    }
}

@media (min-width: 1270px) {
    .footer {
        padding-top: 153px;
        &__wrapper {
            padding-bottom: 102px;
        }

        &__title {
            font-size: 28px;
        }

        &__text {
            max-width: 750px;
            font-size: 16px;
            line-height: 21px;
        }
    }
}