.logo {
    &__image {
        width: 80px;
        height: 42px;
    }
    
    cursor: pointer;
}

@media (min-width: 1270px) {
    .logo {
        &__image {
            width: 144px;
            height: 76px;
        }
        
    }
}