.offer {
    background: url('../images/offer.png') 0 0 / 70% no-repeat;
    overflow: hidden;
    &__wrapper {
        background-image: linear-gradient(-110deg, white 20%, transparent 50%),
                            linear-gradient(to top, white 50%, transparent 70%);
        transform: skewY(-7.5deg);
        padding: 56px 19px 0;
        margin-bottom: -45px;
    }


    &__info {
        transform: skewY(7.5deg);
        margin-top: 10px;
        text-align: center;
        margin-bottom: 29px;

        &--title {
            margin-bottom: 12px;
            color: #1B4485;
        }

        &--text {
            padding: 0 123px;
        }
    }

    &__item {
        transform: skewY(7.5deg);
        display: flex;
        flex-wrap: wrap;
        background-image: linear-gradient(to top, white 50%, transparent 70%);

        &--block {
            width: 46%;
            margin-right: 39px;
            margin-bottom: 27px;

            &:nth-of-type(2n){
                margin-right: 0;
            }

        }
    }

    &__icon {
        display: flex;
        align-items: center;
        margin-bottom: 18px;

        &--image {
            width: 65px;
            height: 65px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 25px;
            border-radius: 50%;
            border: 1px solid #FFAE00;
            background-color: #fff;
        }

        &--title {
            color: #1B4485;
            max-width: 177px;
        }
    }
}

@media (min-width: 1270px) {
    .offer {
        height: 908px;

        &__wrapper {
            padding: 74px 115px;
        }

        &__info {
            display: flex;
            flex-direction: column;
            align-items: center;
            &--title {
                font-size: 28px;
                margin-bottom: 10px;
            }

            &--text {
                width: 936px;
                line-height: 21px;
            }
        }

        &__icon {
            
            margin-bottom: 14px;
            &--image {
                width: 127px;
                height: 127px;

                .icon {
                    width: 58px;
                }
            }
        }

        &__item {
            &--block {
                
                margin-right: 80px;
            }
        }
    }
}