@import '../variables.scss';


.header {
    background-color: #fff;
    height: 330px;
    transform: skewY(-7.5deg);

    &__wrapper {
        position: relative;
        // transform: skewY(-7.5deg);

        &--logo {
            position: absolute;
            display: flex;
            align-items: center;
            transform: skewY(7.5deg);
            top: -10px;
            z-index: 10;
        }

        &--main {
            min-height: 383px;
            background: url('../images/first__block.png') 0 0 / 100% no-repeat;
            // background-size: cover;
            transform: skewY(7.5deg);
        }

    }

    &__logo {
        margin-right: 18px;
    }

    &__link {
        text-decoration: none;
        margin-top: 10px;
    }
}