@import '../variables.scss';


.header {
    
    // position: relative;
    
    // background-image: url('../images/header.png');
    // background-repeat: no-repeat;
    // background-size: 100%;
    transform: skewY(-7.5deg);

    &__wrapper {
        transform: skewY(7.5deg);




        &--logo {
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }

    }

    &__logo {
        margin-right: 18px;
    }

    &__link {
        margin-bottom: 10px;
    }

    a {
        text-decoration: none;
        color: #1B4485;
        font-size: 14px;
    }
}

@media (min-width: 1270px) {
    .header {
        a {
            font-size: 16px;
        }
    }
}