.policy {
    transform: skewY(-7.5deg);
    
    background-image: linear-gradient(-110deg, #06c6e7, #004387);
    &__wrapper {
        transform: skewY(7.5deg);
        padding: 29px 19px 10px 19px;
    }

    &__title {
        margin-top: 30px;
        margin-bottom: 21px;
        text-align: center;
        color: white;
    }

    &__task {
        display: flex;

        &--block {
            width: 50%;
            margin-right: 41px;

            &:nth-of-type(2n) {
                margin-right: 0;
            }
        }

        &--title {
            text-transform: uppercase;
            color: #FFAE00;
            margin-bottom: 13px;
        }

        
        &--text {
            color: white;
            font-size: 14px;

            li {
                margin-bottom: 5px;
            }
        }
    }
}

@media (min-width: 1270px) {
    .policy {
        height: 556px;

        &__wrapper {
            padding: 0 65px;
            padding-top: 53px;
        }

        &__title {
            font-size: 28px;
            margin-bottom: 30px;
        }

        &__task {

            &--block{
                &:nth-of-type(2) {
                    padding-left: 14px;
                }
            }

            &--title {
                font-size: 28px;
                margin-bottom: 23px;
                max-width: 410px;
            }

            &--text {
                font-size: 16px;
                line-height: 19px;
            }
        }
    }
}