




mixin footer()
    +b.footer
        +e.wrapper
            +e('h3').title Мы ищем 
            +e.text
                p Тех, кто не боится мечтать  смело, ярко, делая свои мечты реальностью.
                    |Тех, кому важно привносить в свою жизнь радость и удовлетворение от работы, профессионально развиваться, ставить достойные цели и достигать их.