



mixin header()
    include ../components/buttons.pug
    include ../components/logo.pug
    include ../components/icon.pug
    

    +b.header
        +e.wrapper
            +e.wrapper--logo
                +e.logo
                    +logo('http://google.com')
                +e.link
                    +link('www.egis.ru/career', true, 'https://www.egis.ru')(target="_blank")

                
