



mixin header()
    include ../components/buttons.pug
    include ../components/logo.pug
    include ../components/icon.pug
    

    +b.header
        //- +e.wrapper
        +e.wrapper--logo
            +e.logo.normal__skew
                +logo('http://google.com')
            +e.link.normal__skew
                +link('www.egis.ru', true, 'https://www.egis.ru')
        +e.wrapper--main
                
