@import '../variables.scss';

.navbar {
    // padding: 20px 15px;
    background-color: $dark-blue;

    &__item {
        padding: 0 30px;
        height: 70px;
        position: relative;


        &:hover {
            background-color: rgba(255, 255, 255, 0.1);

            .navbar__dropdawn {
                top: auto;
                left: 0;

                &--prices {
                    left: -210px;
                }
            }

        }
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__link {
        display: block;
        text-transform: uppercase;
        padding-top: 25px;
        color: white;
        font-weight: 500;
        height: 100%;

    }

    &__dropdawn {
        position: absolute;
        width: 100%;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        left: -9999px;
        z-index: 10;

        &--prices {
            width: 1110px;
            display: flex;
            flex-direction: row;

            .columns {
                width: 300px;
                display: flex;
                flex-direction: column;
                margin-right: 20px;
            }
        }

        .link {
            padding: 10px;
            color: $dark-blue;

            &:hover {
                background-color: rgba(0, 0, 0, 0.1);
            }
        }
    }
}